@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@use './Global.scss';
header .up {
  background-color: #f5f5f6;
}

header .up .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 92px;
}

header .up .inner nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .up .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  padding: 0 180px 0 40px;
}

header .up .inner nav ul a {
  color: #959ba4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .up .inner nav ul a.active, header .up .inner nav ul a:hover {
  color: #333;
}

header .up .tinkoff-btn {
  background-color: white;
  text-transform: uppercase;
  color: black;
  -webkit-box-shadow: 0px 2px 5px 0px #59595980;
          box-shadow: 0px 2px 5px 0px #59595980;
}

header .up .tinkoff-btn:hover {
  -webkit-box-shadow: 0px 2px 5px 0px #1d1d1d;
          box-shadow: 0px 2px 5px 0px #1d1d1d;
}

header .down {
  -webkit-box-shadow: 0px 6px 15px -9px #83838354;
          box-shadow: 0px 6px 15px -9px #83838354;
}

header .down .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 92px;
}

header .down .inner .tinkoff-nav {
  width: 70%;
}

body .platinum {
  margin-top: 32px;
}

body .platinum header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.3px solid #e9e9e9;
}

body .platinum header h2 a {
  font-weight: 500;
  color: #000000cc;
}

body .platinum header .tinkoff-nav ul li {
  margin-left: 20px;
}

body .platinum main {
  margin-top: 32px;
  height: 292px;
  background-color: #f5f5f6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  color: #000000cc;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

body .tinkoff-box {
  max-width: 1080px;
  margin: auto;
}

body .tinkoff-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 9px 12px 7px;
  border-radius: 4px;
}

body .tinkoff-nav {
  font-weight: 500;
}

body .tinkoff-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

body .tinkoff-nav ul li a {
  display: inline-block;
  padding: 20px 0;
  color: #959ba4;
}

body .tinkoff-nav ul li a:hover {
  color: #333;
  border-bottom: 2px solid #b3b3b3;
}

body .tinkoff-nav ul li a.active {
  color: #333;
  border-bottom: 2px solid #ffdd2d;
}
/*# sourceMappingURL=Style.css.map */