@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@use './Global.scss';
body > header .up {
  background-color: #f5f5f6;
}

body > header .up .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 92px;
}

body > header .up .inner nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body > header .up .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  padding: 0 180px 0 40px;
}

body > header .up .inner nav ul a {
  color: #959ba4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body > header .up .inner nav ul a.active, body > header .up .inner nav ul a:hover {
  color: #333;
}

body > header .up .tinkoff-btn {
  background-color: white;
  padding: 9px 12px 7px;
  text-transform: uppercase;
  color: black;
  -webkit-box-shadow: 0px 2px 5px 0px #59595980;
          box-shadow: 0px 2px 5px 0px #59595980;
}

body > header .up .tinkoff-btn:hover {
  -webkit-box-shadow: 0px 2px 5px 0px #1d1d1d;
          box-shadow: 0px 2px 5px 0px #1d1d1d;
}

body > header .down {
  -webkit-box-shadow: 0px 6px 15px -9px #83838354;
          box-shadow: 0px 6px 15px -9px #83838354;
}

body > header .down .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 92px;
}

body > header .down .inner .tinkoff-nav {
  width: 70%;
}

body .platinum {
  margin-top: 32px;
}

body .platinum header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.3px solid #e9e9e9;
}

body .platinum header h2 a {
  font-weight: 500;
  color: #000000cc;
}

body .platinum header .tinkoff-nav ul li {
  margin-left: 20px;
}

body .platinum main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  background-color: #f5f5f6;
}

body .platinum main .content {
  padding: 24px;
  margin: 0 40px;
}

body .platinum main .content h2, body .platinum main .content h3 {
  margin: 0;
}

body .platinum main .content h2 {
  letter-spacing: -2px;
  font-size: 38px;
  font-weight: 400;
}

body .platinum main .content p {
  font-size: 14px;
  margin: 10px 0;
}

body .platinum main .content .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 20px 0;
}

body .platinum main .content .items > .item h3 {
  font-weight: 500;
  margin-bottom: 7px;
}

body .platinum main .content .tinkoff-btn {
  color: #000000cc;
  background-color: #ffdd2d;
  font-size: 16px;
  padding: 12px 20px;
}

body .platinum main .content .tinkoff-btn:hover {
  background-color: #f6cd00;
}

.notpay .items {
  display: -ms-grid;
  display: grid;
  grid: 1fr/repeat(3, 1fr);
  gap: 50px;
}

.notpay .items .item {
  border: 0.3px solid #dedede;
  padding: 32px;
}

.notpay .items .item > * {
  margin: 0;
}

.notpay .items .item h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.bestcard .big-items {
  display: -ms-grid;
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  gap: 48px;
}

.bestcard .big-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f6;
}

.bestcard .big-items .item .content {
  padding: 32px 32px 24px;
}

.bestcard .big-items .item .content h3 {
  font-size: 22px;
  font-weight: 500;
}

.bestcard .small-items {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 48px;
}

.bestcard .small-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bestcard .small-items .item img {
  margin-right: 20px;
}

.bestcard .small-items .item .content h3 {
  margin: 0;
  max-width: 80%;
  font-size: 24px;
  font-weight: 500;
}

.bestcard .small-items .item .content p {
  line-height: 24px;
}

.steps .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps .items .item .box-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: #f5f5f6;
  color: #5d5d5d;
  font-size: 26px;
  width: 55px;
  height: 55px;
  border-radius: 15px;
}

.steps .items .item > p {
  text-align: center;
}

.tunecard {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f6), to(#f5f5f600)) no-repeat;
  background: linear-gradient(180deg, #f5f5f6, #f5f5f600) no-repeat;
  padding-top: 72px;
  margin-top: 32px;
}

.tunecard .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tunecard .inner .tune {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tunecard .inner .tune header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tunecard .inner .tune main > * {
  margin-bottom: 20px;
}

.tunecard .inner .tune main > input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.tunecard .inner .tune main .slider {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 24px;
}

.tunecard .inner .tune main .slider span {
  font-size: 12px;
}

.tunecard .inner .tune main .slider .money {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0;
}

.tunecard .inner .tune main .slider .numbers {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.tunecard .inner .tune main .slider .numbers > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.tunecard .inner .tune main .slider .numbers > *:hover {
  cursor: pointer;
}

.tunecard .inner .tune main .slider .numbers > *:not(:first-child):not(:last-child)::before {
  content: "|";
  z-index: -9999;
  top: -18px;
  position: absolute;
}

.tunecard .inner .tune main .combobox {
  width: 100%;
}

.tunecard .inner .tune main .combobox option:checked {
  background-color: #eeeeee;
}

.tunecard .inner .tune main .combobox option {
  padding: 10px;
  margin: 10px;
}

.tunecard .inner .tune main .combobox option:hover {
  background-color: #c2c2c2 !important;
}

.tunecard .inner .tune main .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tunecard .inner .tune main .contacts input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tunecard .inner .tune main .contacts input:first-child {
  margin-right: 30px;
}

.tunecard .inner .tune hr {
  margin: 40px 0;
  border-color: #f3f3f367;
}

.tunecard .inner .tune footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 0 15px;
}

.tunecard .inner .tune footer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tunecard .inner .tune footer label:hover, .tunecard .inner .tune footer label > *:hover {
  cursor: pointer;
}

.tunecard .inner .tune footer input[type=checkbox] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-right: 15px;
}

.tunecard .inner .tune footer .tinkoff-btn {
  font-size: 18px;
  padding: 20px 40px !important;
}

.tunecard .inner .result {
  width: 250px;
  background-color: #a0ffa0;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000cc;
}

body ::-moz-selection {
  background-color: #ffdd2d;
}

body ::selection {
  background-color: #ffdd2d;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

body .bold-word {
  font-weight: 500;
}

body .tinkoff-box {
  max-width: 1150px;
  margin: auto;
}

body .tinkoff-btn {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
  color: #000000cc;
  background-color: #ffdd2d;
  font-size: 16px;
  padding: 12px 20px;
  outline: none;
  border: none;
}

body .tinkoff-btn:hover {
  cursor: pointer;
  background-color: #f6cd00;
}

body .tinkoff-input {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px;
  background-color: #f5f5f6;
  border: none;
  outline: none;
  border-radius: 5px;
}

body .tinkoff-input:hover, body .tinkoff-input:focus {
  background-color: #dedeff;
}

body .tinkoff-nav {
  font-weight: 500;
}

body .tinkoff-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

body .tinkoff-nav ul li a {
  display: inline-block;
  padding: 20px 0;
  color: #959ba4;
}

body .tinkoff-nav ul li a:hover {
  color: #333;
  border-bottom: 2px solid #b3b3b3;
}

body .tinkoff-nav ul li a.active {
  color: #333;
  border-bottom: 2px solid #ffdd2d;
}

body .section-head {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin: 62px 0 46px 0;
}

input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border: 2.5px solid #ffdd2d;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  margin-top: -7px;
  background: white;
  cursor: -webkit-grab;
  cursor: grab;
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #d6d6d6;
}
/*# sourceMappingURL=Style.css.map */