$gray-bg: #f5f5f6;
$gray-border: #dfdfdf;

.tunecard {
    background: linear-gradient(180deg,#f5f5f6,#f5f5f600) no-repeat;
    padding-top: 72px;
    margin-top: 32px;

    .inner {
        display: flex;

        .tune {
            flex-grow: 1;

            header {
                justify-content: space-between;
                display: flex;
            }

            main {
                > * {
                    margin-bottom: 20px;
                }

                > input {
                    box-sizing: border-box;
                    width: 100%;
                }

                .slider {
                    border: 1px solid $gray-border;
                    border-radius: 5px;
                    padding: 24px;

                    span {
                        font-size: 12px;
                    }

                    .money {
                        font-size: 24px;
                        font-weight: 400;
                        margin: 15px 0;
                    }

                    .numbers {
                        margin-top: 8px;
                        display: flex;
                        justify-content: space-between;
                        position: relative;

                        > * {
                            display: flex;
                            width: 64px;
                            flex-direction: column;
                            align-items: center;
                            white-space: nowrap;

                            &:hover {
                                cursor: pointer;
                            }

                            &:not(:first-child) {
                                &:not(:last-child) {
                                    &::before {
                                        content: "|";
                                        z-index: -9999;
                                        top: -18px;
                                        position: absolute;
                                    }
                                }
                            }
                        }
                    }
                }

                .combobox {
                    width: 100%;

                    option:checked {
                        background-color: #eeeeee;
                    }
                    option {
                        padding: 10px;
                        margin: 10px;

                        &:hover {
                            background-color: #c2c2c2 !important;
                        }
                    }
                }

                .contacts {
                    display: flex;
                    justify-content: space-between;

                    input {
                        flex-grow: 1;

                        &:first-child {
                            margin-right: 30px;
                        }
                    }
                }
            }

            hr {
                margin: 40px 0;
                border-color: #f3f3f367;
            }

            footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                padding: 0 15px;

                label {
                    display: flex;
                    align-items: center;

                    &:hover, >*:hover {
                        cursor: pointer;
                    }
                }

                input[type=checkbox] {
                    transform: scale(2);
                    margin-right: 15px;
                }

                .tinkoff-btn {
                    font-size: 18px;
                    padding: 20px 40px !important;
                }
            }
        }

        .result {
            width: 250px;
            background-color: #a0ffa0;
            margin-left: 40px;

            // clean
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}