.tunecard {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f6), to(#f5f5f600)) no-repeat;
  background: linear-gradient(180deg, #f5f5f6, #f5f5f600) no-repeat;
  padding-top: 72px;
  margin-top: 32px;
}

.tunecard .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tunecard .inner .tune {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tunecard .inner .tune header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tunecard .inner .tune main > * {
  margin-bottom: 20px;
}

.tunecard .inner .tune main > input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.tunecard .inner .tune main .slider {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 24px;
}

.tunecard .inner .tune main .slider span {
  font-size: 12px;
}

.tunecard .inner .tune main .slider .money {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0;
}

.tunecard .inner .tune main .slider .numbers {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.tunecard .inner .tune main .slider .numbers > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.tunecard .inner .tune main .slider .numbers > *:hover {
  cursor: pointer;
}

.tunecard .inner .tune main .slider .numbers > *:not(:first-child):not(:last-child)::before {
  content: "|";
  z-index: -9999;
  top: -18px;
  position: absolute;
}

.tunecard .inner .tune main .combobox {
  width: 100%;
}

.tunecard .inner .tune main .combobox option:checked {
  background-color: #eeeeee;
}

.tunecard .inner .tune main .combobox option {
  padding: 10px;
  margin: 10px;
}

.tunecard .inner .tune main .combobox option:hover {
  background-color: #c2c2c2 !important;
}

.tunecard .inner .tune main .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tunecard .inner .tune main .contacts input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tunecard .inner .tune main .contacts input:first-child {
  margin-right: 30px;
}

.tunecard .inner .tune hr {
  margin: 40px 0;
  border-color: #f3f3f367;
}

.tunecard .inner .tune footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 0 15px;
}

.tunecard .inner .tune footer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tunecard .inner .tune footer label:hover, .tunecard .inner .tune footer label > *:hover {
  cursor: pointer;
}

.tunecard .inner .tune footer input[type=checkbox] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-right: 15px;
}

.tunecard .inner .tune footer .tinkoff-btn {
  font-size: 18px;
  padding: 20px 40px !important;
}

.tunecard .inner .result {
  width: 250px;
  background-color: #a0ffa0;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=TuneCard.css.map */